@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* Fallback for browsers that do not support gradients */
  /* background-color: #86d12b; */
  /* Yellow */

  /* Linear Gradient */
  background-image: linear-gradient(#882003, #e88223);
  /* Yellow to Sky Blue */


  /* background-image: url('/pat1.jpeg'); */
  /* background-size: contain; */
  /* Adjusts the size of the background image to cover the entire container */
  background-position: center;
  /* Centers the background image within the container */
  height: 100vh;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
}
